Repository BogGyver/openpilot, pull requests merged in 2019-11, with the labels that each got.

#118 Feature/tinklad throttling
  selfdrive/car/tesla/ACC_module.py
  selfdrive/car/tesla/PCC_module.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tesla/radar_interface.py
  selfdrive/car/tesla/readconfig.py
  selfdrive/manager.py
  selfdrive/registration.py
  selfdrive/tinklad/airtable_publisher.py
  selfdrive/tinklad/pqueue.py
  selfdrive/tinklad/tinklad.py
Labels: needs to be tested in car

#119 Prevent multiple readings of the pid params file
  selfdrive/car/tesla/PCC_module.py
Labels: enhancement, needs to be tested in car

#121 missing V_PID_FILE constant
  selfdrive/car/tesla/PCC_module.py
Labels: bug, needs to be tested in car

#129 Added tbui inforbar + preventing screen from turning of if dashcam is recording.
  selfdrive/ui/bbuistate.h
  selfdrive/ui/dashcam.h
  selfdrive/ui/tbui.h
  selfdrive/ui/ui.cc
Labels: enhancement
